.navbar {
	background-color: #ced3d6;
}

.navbar .nav-link:hover {
	color: #0d47a1 !important;
}

body {
    background-color: #e5e5d8;  /* light mint-green—swap to your preferred hex */
  }

.clickable-image:hover {
	transform: scale(1.05); /* Slightly enlarge the image when hovered */
	cursor: pointer;
}

.green-border {
	border: 5px solid green;
}

.red-border {
	border: 5px solid red;
}

.draggable {
    cursor: grab;
    user-select: none;
    font-weight: bold;
}

.droppable {
    border: 2px dashed black;
    font-size: 1rem;
    position: relative;
}

.arrow-right {
    width: 0; 
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #333;
}

.bg-danger {
    background-color: #dc3545 !important;
}
.text-white {
    color: white !important;
}

.tutorial-banner {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.text-dark-gray { color: #333; }
.text-light-gray { color: #777; }
