.navbar {
	background-color: #92cae6;
}

.navbar .nav-link:hover {
	color: #0d47a1 !important;
}

.clickable-image:hover {
	transform: scale(1.05); /* Slightly enlarge the image when hovered */
	cursor: pointer;
}

.green-border {
	border: 5px solid green;
}

.red-border {
	border: 5px solid red;
}