{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Question {{ question.page }}</h5>
			<p class="card-text" style="white-space: pre-wrap;">{{ question.prompt }}</p>

			{% if question.images %}
			<div class="d-flex justify-content-center flex-wrap mt-4" style="gap: 1rem;">
				{% set img_count = question.images | length %}
				{% for img in question.images %}
					{% set img_width = 100 / img_count %}
					<img src="{{ url_for('static', filename=img) }}"
						class="rounded shadow-sm clickable-image"
						style="flex: 1 1 calc({{ img_width }}% - 1rem); max-width: calc({{ img_width }}% - 1rem); height: auto; object-fit: contain;"
						alt="Image for question {{ question.page }}"
						id="img-{{ loop.index }}" 
                     				data-index="{{ loop.index }}">
				{% endfor %}
			</div>
			{% endif %}
		</div>

		{% if question.page == 2 %}
		<div class="mt-4 d-flex justify-content-center flex-wrap gap-5" id="options-row">
			<button class="btn btn-outline-dark option-btn px-4 py-3 fs-5" data-value="Commit">Commit</button>
			<button class="btn btn-outline-dark option-btn px-4 py-3 fs-5" data-value="Tree">Tree</button>
			<button class="btn btn-outline-dark option-btn px-4 py-3 fs-5" data-value="Blob">Blob</button>
			<button class="btn btn-outline-dark option-btn px-4 py-3 fs-5" data-value="None">None</button>
		</div>
		{% endif %}

		<div class="card-footer d-flex justify-content-between">
			{% if question.page > 1 %}
			<a href="{{ url_for('quiz', page=question.page - 1) }}" class="btn btn-outline-secondary">
				&laquo; Previous
			</a>
			{% else %}
			<div></div> 
			{% endif %}

			<!-- Hide next button by default if best_quiz_page < current page -->
			<form method="POST" action="{{ url_for('quiz', page=question.page) }}">
				{% if question.page <= best_quiz_page %}
				<button type="submit" class="btn btn-outline-secondary" id="next-btn">
					Next &raquo;
				</a>
				{% else %}
				<button type="submit" class="btn btn-outline-secondary d-none" id="next-btn">
					Next &raquo;
				</a>
				{% endif %}
			</form>

		</div>
		<a href="{{ url_for('redo_quiz') }}" class="btn btn-outline-secondary mt-3 ms-2">Redo Quiz</a>
	</div>
</div>
{% endblock %}
